services:
  web:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "${HOST_PORT}:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./:/var/www

  php:
    build:
      context: .
      dockerfile: php.dockerfile
    user: "1000:1000"
    restart: unless-stopped
    volumes:
      - ./:/var/www

  db:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql

volumes:
  db-data:

